<h1><%= @dojo.branch %></h1>
<h3>Address: <%= @dojo.street %></h3>
<h3>City: <%= @dojo.city %> State: <%= @dojo.state %></h3>

<a href="/dojos">Home</a>|<a href="/dojos/<%= @dojo.id %>/edit">Edit</a>
