    <div id="index_wrapper">
        <div id="your_gold">
            <p>Your Gold:</p>
            <div id="gold_amt">
              <%= session[:gold] %>
            </div>
        </div>
        <div id="boxes_holder">
            <div class="boxes">
                <h1>Farm</h1>
                <h3>(earns 10-20 gold)</h3>
                <form action="/process_money" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="location" value="farm" />
                    <input type="submit" value="Find Gold!" />
                </form>
            </div>
            <div class="boxes">
                <h1>Cave</h1>
                <h3>(earns 5-10 gold)</h3>
                <form action="/process_money" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="location" value="cave" />
                    <input type="submit" value="Find Gold!" />
                </form>
            </div>
            <div class="boxes">
                <h1>House</h1>
                <h3>(earns 2-5 gold)</h3>
                <form action="/process_money" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="location" value="house" />
                    <input type="submit" value="Find Gold!" />
                </form>
            </div>
            <div class="boxes">
                <h1>Casino</h1>
                <h3>(earns/takes 0-50 gold)</h3>
                <form action="/process_money" name="action" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="location" value="casino" />
                    <input type="submit" value="Find Gold!" />
                </form>
            </div>
        </div>
        <div id="activities">
          <% session[:activity].each do |activity| %>
          <p><%= activity %></p>
          <% end %>
        </div>
        <div id="reset">
            <form action="/rpg/reset" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="submit" value="RESET!" />
            </form>
        </div>
    </div>
